In [2]:
# Dependencies
import pandas as pd

In [3]:
# Economic Freedom Data from Kaggle as: https://www.kaggle.com/gsutters/economic-freedom#efw_cc.csv
# Store the economics freedom filepath in a variable
econ_free = "data/efw_cc.csv"

In [4]:
# Read our the Economic Freedom of the World Dataset with the pandas library
econ_free_pd = pd.read_csv(econ_free)

In [5]:
# Show just the header
# econ_free_pd.head()
# Show just the columns
econ_free_pd.columns

Index(['year', 'ISO_code', 'countries', 'ECONOMIC FREEDOM', 'rank', 'quartile',
       '1a_government_consumption', '1b_transfers', '1c_gov_enterprises',
       '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence',
       '2b_impartial_courts', '2c_protection_property_rights',
       '2d_military_interference', '2e_integrity_legal_system',
       '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property',
       '2h_reliability_police', '2i_business_costs_crime',
       '2j_gender_adjustment', '2_property_rights', '3a_money_growth',
       '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency',
       '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers',
       '4c_black_market', '4d_control_movement_capital_ppl', '4_trade',
       '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg',
       '5_regulation'],
      dtype='object')

In [6]:
econ_free_reduced_df = pd.DataFrame(econ_free_pd[["countries", "year", "ECONOMIC FREEDOM", "rank", 
                                                  "quartile", "2e_integrity_legal_system", "3c_inflation",
                                                  "5_regulation"]])

In [7]:
econ_free_reduced_df.head()

,countries,year,ECONOMIC FREEDOM,rank,quartile,2e_integrity_legal_system,3c_inflation,5_regulation
0,Albania,2016,7.54,34.0,1.0,4.166667,9.74360,6.906901
1,Algeria,2016,4.99,159.0,4.0,5.000000,8.72046,5.268992
2,Angola,2016,5.17,155.0,4.0,4.166667,3.05400,5.518500
3,Argentina,2016,4.84,160.0,4.0,3.333333,2.00000,5.369019
4,Armenia,2016,7.57,29.0,1.0,5.000000,9.74600,7.378069

In [9]:
econ_free_reduced_df.columns = ["Country Name", "Year", "Econ Freedom Score", "Rank", "Quartile", 
                               "Legal System Integrity", "Inflation", "Regulation"]
econ_free_reduced_df.head()

,Country Name,Year,Econ Freedom Score,Rank,Quartile,Legal System Integrity,Inflation,Regulation
0,Albania,2016,7.54,34.0,1.0,4.166667,9.74360,6.906901
1,Algeria,2016,4.99,159.0,4.0,5.000000,8.72046,5.268992
2,Angola,2016,5.17,155.0,4.0,4.166667,3.05400,5.518500
3,Argentina,2016,4.84,160.0,4.0,3.333333,2.00000,5.369019
4,Armenia,2016,7.57,29.0,1.0,5.000000,9.74600,7.378069

In [10]:
econ_free_reduced_df = econ_free_reduced_df.loc[econ_free_reduced_df["Year"]== 2012]
econ_free_reduced_df.head()

,Country Name,Year,Econ Freedom Score,Rank,Quartile,Legal System Integrity,Inflation,Regulation
648,Albania,2012,7.20,59.0,2.0,4.166667,9.594,6.619162
649,Algeria,2012,4.95,149.0,4.0,5.000000,8.222,5.333293
650,Angola,2012,5.28,141.0,4.0,4.166667,7.942,5.458704
651,Argentina,2012,5.04,146.0,4.0,3.300000,5.120,5.723699
652,Armenia,2012,7.75,13.0,1.0,5.000000,9.488,7.651228

In [11]:
econ_free_reduced_df.count()

Country Name              162
Year                      162
Econ Freedom Score        153
Rank                      153
Quartile                  153
Legal System Integrity    131
Inflation                 157
Regulation                153
dtype: int64